---
import Mainlayout from "./Mainlayout.astro";
const { title, date, author } = Astro.props.frontmatter;

const newDate: string = new Date(date).toLocaleDateString("en-Uk", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Mainlayout title="Blog" description="blog post">
  <h1 class="text-3xl bg-red-200">{title}</h1>
  <div class="flex flex-row justify-between w-full">
    <h2>{newDate}</h2>
    <h2>Author {author}</h2>
  </div>

  <div class="prose">
    <slot />
  </div>
</Mainlayout>
